<h1 id="tableLabel"><a routerLink="/databases" style="text-decoration: none;">Databases</a></h1>

<div>
  <button class="btn btn-primary" routerLink="/databases/add">Add New Database</button>
</div>

<br>

<table class="table table-striped" aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Name</th>
      <th>Provider</th>
      <th>Populated</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let db of databases; let i = index;">
      <td><a [routerLink]="['/databases', db.id]">{{ db.name }}</a></td>
      <td>{{ db.provider }}</td>
      <td>
        <button 
          class="btn btn-info" 
          [disabled]="true">
          <ng-icon [name]="db.isPopulated ? 'bootstrapCheck' : 'bootstrapX'"></ng-icon>
        </button>
      </td>
      <td>
        <!-- Sync button -->
        <div class="buttonDiv">
          <button 
          *ngIf="!(isSyncing(db) | async)"
          class="btn btn-primary" 
          [disabled]="db.isPopulated" 
          (click)="syncDatabase(db)">
          <ng-icon name="bootstrapCloudArrowDownFill"></ng-icon> Sync
        </button>
        <div *ngIf="(isSyncing(db) | async)" class="loading-spinner">
          <div class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div>
        </div>
        </div>
      </td>
      <td>
        <!-- Clear button -->
         <div class="buttonDiv">
            <button 
            *ngIf="!(isSyncing(db) | async)"
            class="btn btn-warning" 
            [disabled]="!db.isPopulated" 
            (click)="clearDatabase(db)">
            <ng-icon name="matCleaningServicesOutline"></ng-icon> Clear
          </button>
          <div *ngIf="(isSyncing(db) | async)" class="loading-spinner">
            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
         </div>
      </td>
      <td>
        <!-- Clear button -->
        <div class="buttonDiv">
          <button 
          *ngIf="!(isSyncing(db) | async)"
          class="btn btn-danger" 
          (click)="deleteDatabase(db)">
          <ng-icon name="matDeleteOutline"></ng-icon> Delete
        </button>
        <div *ngIf="(isSyncing(db) | async)" class="loading-spinner">
          <div class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div>
        </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<app-pagination 
  [pageNumber]="pageNumber" 
  [totalPages]="totalPages"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20, 50]" 
  (pageChange)="changePage($event)" 
  (pageSizeChange)="changePageSize($event)">
</app-pagination>
