<h1 id="tableLabel"><a routerLink="/databases" style="text-decoration: none;">Databases</a></h1>

<div class="container">
    <h2>Edit Database</h2>
  
    <form [formGroup]="editDatabaseForm" (ngSubmit)="updateDatabase()">
      <div class="form-group">
        <label for="name">Database Name</label>
        <input
          id="name"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': editDatabaseForm.get('name')?.invalid && editDatabaseForm.get('name')?.touched }"
        />
        <div *ngIf="editDatabaseForm.get('name')?.invalid && editDatabaseForm.get('name')?.touched" class="invalid-feedback">
          Name is required.
        </div>
      </div>
  
      <div class="form-group">
        <label for="connectionString">Connection String</label>
        <input
          id="connectionString"
          formControlName="connectionString"
          class="form-control"
          [ngClass]="{ 'is-invalid': editDatabaseForm.get('connectionString')?.invalid && editDatabaseForm.get('connectionString')?.touched }"
        />
        <div *ngIf="editDatabaseForm.get('connectionString')?.invalid && editDatabaseForm.get('connectionString')?.touched" class="invalid-feedback">
          Connection string is required.
        </div>
      </div>
  
      <div class="form-group">
        <label for="provider">Database Provider</label>
        <select id="provider" formControlName="provider" class="form-control">
          <option *ngFor="let provider of availableProviders" [value]="provider">{{ provider }}</option>
        </select>
        <div *ngIf="editDatabaseForm.get('provider')?.invalid && editDatabaseForm.get('provider')?.touched" class="invalid-feedback">
          Database provider is required.
        </div>
      </div>
  
      <div class="form-group">
        <button type="button" class="btn btn-info" (click)="testConnection()" [disabled]="isSubmitting || !editDatabaseForm.get('connectionString')?.value">
          Test Connection
        </button>
        <button type="submit" class="btn btn-success" [disabled]="isSubmitDisabled">
          Save Changes
        </button>
      </div>
    </form>
  </div>
  