<h1 id="tableLabel"><a routerLink="/databases" style="text-decoration: none;">Databases</a></h1>

<div id="container">
    <div *ngIf="database">
        <h2>Database Details</h2>
        <button class="btn btn-primary" [routerLink]="['/databases', database.id, 'edit']">Edit Database</button>
        <button class="btn btn-primary" [routerLink]="['/databases', database.id, 'tables']">Browse Database</button>
    </div>

    <br>

    <div *ngIf="database">
        <p><strong>Name:</strong> {{ database.name }}</p>
        <p><strong>Provider:</strong> {{ database.provider }}</p>
        <p><strong>Connection String: </strong> <button class="btn btn-secondary" *ngIf="!showConnectionString" (click)="doShowConnectionString()">Show</button><span *ngIf="showConnectionString">{{ database.connectionString }}</span></p>
        <p><strong>Populated:</strong> {{ database.isPopulated ? 'Yes' : 'No' }}</p>
        <p><strong>Tables:</strong> {{ database.tablesCount }}</p>
        <p><strong>Columns:</strong> {{ database.columnsCount }}</p>
        <p><strong>Rows:</strong> {{ database.rowsCount }}</p>
        <p><strong>Cells:</strong> {{ database.cellsCount }}</p>
    </div>

    <br>

    <div *ngIf="database && jobHistory">
        <h2>Database Action History</h2>
    </div>
    <table *ngIf="database && jobHistory" class="table table-striped" aria-labelledby="tableLabel">
        <thead>
            <tr>
                <th>Date:</th>
                <th>Type:</th>
                <th>Completed:</th>
                <th>Succeeded:</th>
                <th>Result:</th>
                <th>Additional message:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let job of jobHistory; let i = index;">
                <td>{{ job.created | date:'MM/dd/YYYY HH:mm:ss'}}</td>
                <td>{{ job.type }}</td>
                <td>
                    <button class="btn btn-info" [disabled]="true">
                        <ng-icon [name]="job.isCompleted ? 'bootstrapCheck' : 'bootstrapX'"></ng-icon>
                    </button>
                </td>
                <td>
                    <button class="btn btn-info" [disabled]="true">
                        <ng-icon [name]="job.isSucceeded ? 'bootstrapCheck' : 'bootstrapX'"></ng-icon>
                    </button>
                </td>
                <td>
                    <button class="btn btn-info" [disabled]="true">
                        <ng-icon name="matInfoOutline"></ng-icon>
                    </button>
                </td>
                <td>{{ job.message }}</td>
            </tr>
        </tbody>
    </table>
</div>
