<h1 id="tableLabel"><a routerLink="/databases" style="text-decoration: none;">Databases</a></h1>

<div id="container">
    <div *ngIf="database">
        <h2>Database Details</h2>
        <button class="btn btn-primary" [routerLink]="['/databases', database.id, 'edit']">Edit Database</button>
        <button class="btn btn-primary" [routerLink]="['/databases', database.id, 'tables']">Browse Database</button>
    </div>

    <br>

    <div *ngIf="database" class="database-details-container">
      <div>
        <p><strong>Name:</strong> {{ database.name }}</p>
        <p><strong>Provider:</strong> {{ database.provider }}</p>
        <p><strong>Connection String: </strong> <button class="btn btn-secondary" (click)="openModalWithConnectionString(database.connectionString)">Show</button></p>
        <p><strong>Populated:</strong> {{ database.isPopulated ? 'Yes' : 'No' }}</p>
      </div>
      <div>
        <p><strong>Tables:</strong> {{ database.tablesCount }}</p>
        <p><strong>Columns:</strong> {{ database.columnsCount }}</p>
        <p><strong>Rows:</strong> {{ database.rowsCount }}</p>
        <p><strong>Cells:</strong> {{ database.cellsCount }}</p>
      </div>
    </div>

    <br>

    <div *ngIf="database && jobHistory">
        <h2>Database Action History</h2>
    </div>
    <table *ngIf="database && jobHistory" class="table table-striped" aria-labelledby="tableLabel">
        <thead>
            <tr>
                <th>Date:</th>
                <th>Type:</th>
                <th>Completed:</th>
                <th>Succeeded:</th>
                <th>Result:</th>
                <th>Additional message:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let job of jobHistory; let i = index;">
                <td>{{ job.created | date:'MM/dd/YYYY HH:mm:ss'}}</td>
                <td>{{ job.type }}</td>
                <td>
                    <button class="btn btn-info" [disabled]="true">
                        <ng-icon [name]="job.isCompleted ? 'bootstrapCheck' : 'bootstrapX'"></ng-icon>
                    </button>
                </td>
                <td>
                    <button class="btn btn-info" [disabled]="true">
                        <ng-icon [name]="job.isSucceeded ? 'bootstrapCheck' : 'bootstrapX'"></ng-icon>
                    </button>
                </td>
                <td>
                    <button class="btn btn-info" (click)="openModal(job.result)" *ngIf="job.result">
                      <ng-icon name="matInfoOutline"></ng-icon>
                    </button>
                </td>
                <td>
                  <button class="btn btn-info" (click)="openModal(job.message)" *ngIf="job.message">
                    <ng-icon name="matInfoOutline"></ng-icon>
                  </button>
              </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="isModalOpen" class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Details</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <pre class="json-content">{{ modalContent }}</pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  